@use "../vars.scss" as *;

@mixin styles {
  .badge {
    border-radius: calc(var(--border-radius) * 2);
    background-color: var(--surface-strong);
    padding: calc(var(--padding) / 4) calc(var(--padding) / 2);
    color: var(--fg-muted);
    white-space: nowrap;
  }
}
