@use "../vars.scss" as *;

@mixin styles {
  .fieldset {
    border: var(--border-width) solid var(--divider);
    border-radius: var(--border-radius);
    padding: 1rem 1rem;
    margin-bottom: 1rem;
  }

  .fieldset-legend {
    margin-left: -0.5rem;
    padding: 0 0.5rem;
  }
}
