@use "../vars.scss" as *;

@mixin styles {
  .progress {
    appearance: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 0.5rem;
    background-color: var(--on-primary-fill);
    border: none;
    border-radius: var(--border-radius);
    overflow: hidden;
    height: 0.5rem;

    &::-webkit-progress-bar {
      background-color: var(--surface);
    }

    &::-webkit-progress-value {
      background-color: var(--line);
    }

    &::-moz-progress-bar {
      background-color: var(--line);
    }
  }
}
