@use "../vars.scss" as *;

@mixin styles {
  .table {
    border-collapse: collapse;
    width: 100%;

    th {
      --specific-border-width: calc(var(--border-width) * 2);
    }

    td,
    th {
      border-bottom: var(--specific-border-width, var(--border-width)) solid
        var(--divider);
      text-align: left;
      padding: calc(1rem / 2) 1rem;
    }
  }
}
