{% macro swatchGrid(prefix = 'lc') %}
<div class="flex flip" style="justify-content: stretch; gap: 0.5rem">
  <article
    class="card-border"
    data-color-scheme="light"
    style="flex-grow: 1; padding: 1rem; padding-bottom: 2rem; border-radius: var(--border-radius)">
    <p>Light Mode</p>
    <div
      style="
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 0.5rem;
      ">
      {% for i in range(1, 10) %}
      <article
        class="card-border"
        style="
          flex-grow: 1;
          aspect-ratio: 1;
          background: oklch(from var(--color) var(--surface-{{ prefix }}-{{ i }}) h);
          color: oklch(from var(--color) var(--text-{{ prefix }}-{{ i }}) h);
          text-align: left;
          display: grid;
          align-content: center;
          justify-content: center;
        ">
        text-{{ prefix }}-{{ i }}<br />
        surface-{{ prefix }}-{{ i }}
      </article>
      {% endfor %}
    </div>
  </article>
  <div
    data-color-scheme="dark"
    style="flex-grow: 1; padding: 1rem; padding-bottom: 2rem; border-radius: var(--border-radius)">
    <p>Dark Mode</p>
    <div
      style="
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 0.5rem;
      ">
      {% for i in range(1, 10) %}
      <article
        class="card-border"
        style="
          aspect-ratio: 1;
          background: oklch(from var(--color) var(--surface-{{ prefix }}-{{ i }}) h);
          color: oklch(from var(--color) var(--text-{{ prefix }}-{{ i }}) h);
          text-align: left;
          display: grid;
          align-content: center;
          justify-content: center;
        ">
        text-{{ prefix }}-{{ i }}<br />
        surface-{{ prefix }}-{{ i }}
      </article>
      {% endfor %}
    </div>
  </div>
</div>
{% endmacro %}
