@use "sass:string";
@use "sass:list";

$lcArray: (
  (99%, 0.018),
  (90.5%, 0.045),
  (80.5%, 0.125),
  (69.5%, 0.17),
  (58%, 0.185),
  (46%, 0.17),
  (34%, 0.135),
  (24.5%, 0.095),
  (17%, 0.055)
);

$dimLcArray: (
  (99%, 0),
  (90.5%, 0),
  (80.5%, 0),
  (69.5%, 0),
  (58%, 0),
  (46%, 0),
  (34%, 0),
  (24.5%, 0),
  (17%, 0)
);

@mixin lightSchemeVars {
  $len: list.length($lcArray);
  @for $i from 1 through list.length($lcArray) {
    $swatch: list.nth($lcArray, $i);
    $grey-swatch: list.nth($dimLcArray, $i);

    $r: $len - $i + 1;
    --swatch-lc-#{$i}: #{list.nth($swatch, 1)} #{list.nth($swatch, 2)};
    --text-lc-#{$i}: var(--swatch-lc-#{$r});
    --surface-lc-#{$i}: var(--swatch-lc-#{$i});

    --grey-swatch-lc-#{$i}: #{list.nth($grey-swatch, 1)}
      #{list.nth($grey-swatch, 2)};
    --grey-text-lc-#{$i}: var(--grey-swatch-lc-#{$r});
    --grey-surface-lc-#{$i}: var(--grey-swatch-lc-#{$i});
  }
  $primary-surface-swatch: list.nth($lcArray, 6);
  $primary-text-swatch: list.nth($lcArray, 1);

  --primary-surface-lc: #{list.nth($primary-surface-swatch, 1)}
    #{list.nth($primary-surface-swatch, 2)};
  --primary-text-lc: #{list.nth($primary-text-swatch, 1)}
    #{list.nth($primary-text-swatch, 2)};

  $primary-grey-surface-swatch: list.nth($dimLcArray, 6);
  $primary-grey-text-swatch: list.nth($dimLcArray, 1);

  --primary-grey-surface-lc: #{list.nth($primary-grey-surface-swatch, 1)}
    #{list.nth($primary-grey-surface-swatch, 2)};
  --primary-grey-text-lc: #{list.nth($primary-grey-text-swatch, 1)}
    #{list.nth($primary-grey-text-swatch, 2)};

  --icon-chevron: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGV2cm9uLWRvd24taWNvbiBsdWNpZGUtY2hldnJvbi1kb3duIj48cGF0aCBkPSJtNiA5IDYgNiA2LTYiLz48L3N2Zz4=");
  --icon-calendar: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jYWxlbmRhci1pY29uIGx1Y2lkZS1jYWxlbmRhciI+PHBhdGggZD0iTTggMnY0Ii8+PHBhdGggZD0iTTE2IDJ2NCIvPjxyZWN0IHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgeD0iMyIgeT0iNCIgcng9IjIiLz48cGF0aCBkPSJNMyAxMGgxOCIvPjwvc3ZnPg==");
  --icon-clock: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jbG9jay1pY29uIGx1Y2lkZS1jbG9jayI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTAiLz48cG9seWxpbmUgcG9pbnRzPSIxMiA2IDEyIDEyIDE2IDE0Ii8+PC9zdmc+");
}

@mixin darkSchemeVars {
  $len: list.length($lcArray);
  @for $i from 1 through list.length($lcArray) {
    $r: $len - $i + 1;
    $swatch: list.nth($lcArray, $i);
    $grey-swatch: list.nth($dimLcArray, $i);

    --swatch-lc-#{$r}: #{list.nth($swatch, 1)} #{list.nth($swatch, 2)};
    --text-lc-#{$i}: var(--swatch-lc-#{$r});
    --surface-lc-#{$i}: var(--swatch-lc-#{$i});

    --grey-swatch-lc-#{$r}: #{list.nth($grey-swatch, 1)}
      #{list.nth($grey-swatch, 2)};
    --grey-text-lc-#{$i}: var(--grey-swatch-lc-#{$r});
    --grey-surface-lc-#{$i}: var(--grey-swatch-lc-#{$i});
  }
  $primary-surface-swatch: list.nth($lcArray, 6);
  $primary-text-swatch: list.nth($lcArray, 1);

  --primary-surface-lc: #{list.nth($primary-surface-swatch, 1)}
    #{list.nth($primary-surface-swatch, 2)};
  --primary-text-lc: #{list.nth($primary-text-swatch, 1)}
    #{list.nth($primary-text-swatch, 2)};

  $primary-grey-surface-swatch: list.nth($dimLcArray, 6);
  $primary-grey-text-swatch: list.nth($dimLcArray, 1);

  --primary-grey-surface-lc: #{list.nth($primary-grey-surface-swatch, 1)}
    #{list.nth($primary-grey-surface-swatch, 2)};
  --primary-grey-text-lc: #{list.nth($primary-grey-text-swatch, 1)}
    #{list.nth($primary-grey-text-swatch, 2)};

  --icon-chevron: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGV2cm9uLWRvd24taWNvbiBsdWNpZGUtY2hldnJvbi1kb3duIj48cGF0aCBkPSJtNiA5IDYgNiA2LTYiLz48L3N2Zz4=");
  --icon-calendar: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jYWxlbmRhci1pY29uIGx1Y2lkZS1jYWxlbmRhciI+PHBhdGggZD0iTTggMnY0Ii8+PHBhdGggZD0iTTE2IDJ2NCIvPjxyZWN0IHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgeD0iMyIgeT0iNCIgcng9IjIiLz48cGF0aCBkPSJNMyAxMGgxOCIvPjwvc3ZnPg==");
  --icon-clock: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jbG9jay1pY29uIGx1Y2lkZS1jbG9jayI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTAiLz48cG9seWxpbmUgcG9pbnRzPSIxMiA2IDEyIDEyIDE2IDE0Ii8+PC9zdmc+");
}

@function oklch-from-vars($color-var, $lightness-var) {
  @return string.unquote("oklch(from #{$color-var} #{$lightness-var} c h)");
}

@function get-color($swatch-lc, $color) {
  @return string.unquote("oklch(from #{$color} #{$swatch-lc} h)");
}

@function get-grey($swatch-lc, $color) {
  @return string.unquote("oklch(from #{$color} #{$swatch-lc} * 0 h)");
}

@function cur-color($swatch-lc) {
  @return string.unquote("oklch(from var(--color) #{$swatch-lc} h)");
}

@mixin apply-greyscale() {
  @for $i from 1 through list.length($lcArray) {
    --swatch-lc-#{$i}: var(--grey-swatch-lc-#{$i});
    --text-lc-#{$i}: var(--grey-text-lc-#{$i});
  }
  --primary-surface-lc: var(--primary-grey-surface-lc);
  --primary-text-lc: var(--primary-grey-text-lc);
}

@function get-border-color() {
  @return cur-color(var(--surface-lc-4));
}
